:root {
  --primary-color: slategray;
  --secondary-color: blue;
  --tertiary-color: yellow;
  --text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: ivory;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

li {
  list-style: none;
  padding: 0 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

input,
textarea {
  width: 200px;
}

.active {
  color: var(--primary-color);
}

.flex-row {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.title {
  flex: 25%;
  text-align: right;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
}

.titletext {
  flex: 75%;
  text-align: left;
  padding: 10px;
  display: inline-block;
}

.project {
  flex-wrap: wrap;
  color: var(--tertiary-color);
  background-size: cover;
  background-position: 80%;
  min-height: 250px;
  text-shadow: var(--text-shadow);
  margin: 5px;
}

.budget-tracker {
  background-image: url("../src/assets/img/Budget-Tracker.png");
}

.business-planner {
  background-image: url("../src/assets/img/businessPlanner.png");
}

.tech-blog {
  background-image: url("../src/assets/img/Tech-Blog.png");
}

.three-joes {
  background-image: url("../src/assets/img/Three-Joes.png");
}

.weather-dashboard {
  background-image: url("../src/assets/img/Weather-Dashboard.png");
}

.work-day-scheduler {
  background-image: url("../src/assets/img/Work-Day-Scheduler.png");
}

.hive-social-wellness {
  background-image: url("../src/assets/img/Hive-Social-Wellness.png");
}
